<footer>
  <div class="footer-container">
    <div class="footer-info">
      <h3>Prueba Técnica de Front End</h3>
      <p>Avance y Tecnología en Plásticos S.A. de C.V.</p>
      <p>© 2025 Enrique Ruiz | Todos los derechos reservados</p>
    </div>

    <div class="footer-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/listado">Listado</a>
      <a routerLink="/skills">Skills</a>
      <a routerLink="/contacto">Contacto</a>
      <a routerLink="/faq">FAQ</a>
    </div>

    <div class="footer-social">
      <a href="https://www.facebook.com" target="_blank">
        <img src="https://static.vecteezy.com/system/resources/previews/018/930/698/non_2x/facebook-logo-facebook-icon-transparent-free-png.png" alt="Facebook">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="https://img.freepik.com/vector-premium/nuevo-vector-logotipo-twitter-x_768467-92.jpg" alt="X">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/640px-Instagram_icon.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="LinkedIn">
      </a>
    </div>
  </div>
</footer>
