<div class="list-container" [ngClass]="{ 'loading': loading }">
    <div *ngIf="loading" class="loading-spinner">🔄</div>
  
    <div *ngFor="let item of items" class="list-item" (click)="selectItem(item)">
      <div class="image-container">
        <img [src]="item.url" alt="Image">
      </div>
      <p>{{ item.author }}</p>
    </div>
  </div>
  
  <div class="pagination">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
  