<div class="home-container">
    <div *ngIf="isLoggedIn" class="greeting">
      <p>¡Hola, {{ userEmail }}! Bienvenido de nuevo.</p>
    </div>
    <div *ngIf="!isLoggedIn" class="greeting">
      <p>¡Hola! Inicie sesión.</p>
    </div>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div *ngFor="let image of images" class="swiper-slide">
        <img [src]="image.url" alt="Picsum Image">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  
  <div class="pagination">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous Page
    </button>
  
    <div class="page-indicators">
      <span *ngFor="let page of [].constructor(totalPages); let i = index">
        <button (click)="goToPage(i + 1)" [class.active]="i + 1 === currentPage">
          {{ i + 1 }}
        </button>
      </span>
    </div>
  
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
      Next Page
    </button>
  </div>
  
  
<div class="cards-section">
    <div *ngFor="let card of cards" class="card" (click)="openModal(card)">
      <img [src]="card.url" alt="Imagen card">
      <div class="card-content">
        <p>{{ card.title }}</p>
      </div>
    </div>
  </div>
  
  
    <div class="about-us">
        <h3>Acerca de Nosotros</h3>
        <p>Somos una plataforma dedicada a brindar la mejor experiencia al usuario.</p>
    </div>

    <div class="list-button">
        <button (click)="navigateToListado()">Agregar diseño</button>
    </div>

    <div *ngIf="selectedItem" class="selected-item">
        <h3>Selección</h3>
        <img [src]="selectedItem.url" alt="Imagen seleccionada">
        <p>{{ selectedItem.author }}</p>
    </div>
</div>
